body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue','STHeitiTC','Microsoft JhengHei', sans-serif;
}
#tickerContainer{
    width: 1920px;
    height: 80px;
    background: white;
    position: absolute;
    top:0px;
    left: 0px;
    overflow: hidden;
    color: rgb(34, 34, 34);
    box-shadow: 0px 0px 20px darkslategray;
    display: flex;
    font-size: 48px;
    margin-top: 20px;
    margin-left: 20px

}
#tickerHeader{
    padding: 5px 20px;
    font-weight: 700
}
#tickerContent{
    padding: 5px 20px;
    font-weight: 600
}
.tickerContentText{
    height:40px
}
p{
    margin:0px 0px 30px 0px
}
.showup{
    animation-name: entering;
    animation-delay: 0s;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-timing-function: linear
}
@keyframes entering {
    0% {
      opacity: 0;
      margin-top:30;
    }
    100% {
      opacity: 1;
        margin-top:0;
    }
   }